/app/config/parameters.yml
/build/
/phpunit.xml
/nodejs/node_modules
/src/AppBundle/Entity/*.php~
/src-hmi/src/*.log
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/docs/
!/var/jwt
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/webassets
.idea
*.swp
/src/AppBundle/Resources/views/
!/src/AppBundle/Resources/views/Default/
/src-hmi/src/.vscode/
